@charset "UTF-8";
/*화면 중앙에 이미지*/
#section_image{
	background-image:url('../img/여행담기_이미지.png');
	width:100%;
	height:1000px;
	background-size:cover; /*이미지가 영역을 꽉 채우도록 설정*/
	background-position:center; /*이미지가 중앙에 오도록 위치*/
}

/*==============================================================================================*/

/* 도 or 특별시 단위 지역 선택 */
#location_select{
    text-align: center; /* 자식 요소인 .location_item을 중앙 정렬 */
    margin: 300px auto 30px auto;
    border: 1px dashed #0099ff; /* 영역 확인용 */
}

/*지역 선택 요소들*/
.location_item{
    display: inline-block; /* 요소를 가로로 나열 */
    border: 1px solid black;
    border-radius:50%;
    padding: 10px 20px;
    margin: 5px;
    width: 130px; height:130px;
    line-height: 130px; /* 텍스트 높이 조절 */
    cursor: pointer;
}

/*선택한 지역의 세부 도시(ex:경기도 수원시, 기본값: 맨 왼쪽 요소)*/
#city_select {
    text-align: center; /* 자식 요소인 .city_item을 중앙 정렬 */
    margin: 30px auto;
    border: 1px dashed #0099ff; /* 영역 확인용 */
}

/*지금은 종로구 이미지만 넣었지만, 나중에 도시별로 진짜 세분화할 경우 각자 별도의 이미지 넣을것.*/
#city01{background-image:url('../img/임시_종로구_이미지.png');}
#city02{background-image:url('../img/임시_종로구_이미지.png');}
#city03{background-image:url('../img/임시_종로구_이미지.png');}
#city04{background-image:url('../img/임시_종로구_이미지.png');}

/*세부 도시 요소들*/
.city_item {
	position:relative;
    display: inline-block; /* 요소를 가로로 나열 */
    border: 1px solid black;
    padding: 10px 20px;
    margin: 5px;
    width:250px; height:400px;
    line-height: 1.5; /* 텍스트 높이 조절 */
    cursor: pointer;
    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

/*세부 도시 이름 위치 조정*/
.city_title{
	position:absolute;
	left:10px;top:10px;
	color:pink;
	background-color: rgba(0, 0, 0, 0.3);
}


/* 관광 카테고리 컨테이너 (관광명소, 행사 등) */
.tour_category_container{
    text-align: center; /* 자식 요소인 .tour_item을 중앙 정렬 */
    margin: 50px auto;
    border: 1px dashed green; /* 영역 확인용 */
}

/* 개별 관광 요소 */
.tour_item {
    display: inline-block;
    width: 250px; 
    height: 400px; 
    margin: 15px;
    border: 1px solid #ccc; /* 카드 테두리 */
}

/*개별 사진 영역 시작*/

/*COMMENT: 지금이야 임시로 사진 지정하는 것이다 보니 이렇게 지정했지만, 나중에는 요소별로 사진 따로 둘 것.*/

/*관광명소 사진*/
#attrac_image01{background-image:url('../img/임시_관광_명소_이미지.jpg');}
#attrac_image02{background-image:url('../img/임시_관광_명소_이미지.jpg');}
#attrac_image03{background-image:url('../img/임시_관광_명소_이미지.jpg');}
#attrac_image04{background-image:url('../img/임시_관광_명소_이미지.jpg');}

/*관광행사 사진*/
#festival_image01{background-image:url('../img/임시_행사_이미지.jpg');}
#festival_image02{background-image:url('../img/임시_행사_이미지.jpg');}
#festival_image03{background-image:url('../img/임시_행사_이미지.jpg');}
#festival_image04{background-image:url('../img/임시_행사_이미지.jpg');}

/*맛집 사진*/
#restaur_image01{background-image:url('../img/임시_맛집_이미지.png');}
#restaur_image02{background-image:url('../img/임시_맛집_이미지.png');}
#restaur_image03{background-image:url('../img/임시_맛집_이미지.png');}
#restaur_image04{background-image:url('../img/임시_맛집_이미지.png');}

/*호텔 사진*/

#hotel_image01{background-image:url('../img/임시_호텔_이미지.jpg');}
#hotel_image02{background-image:url('../img/임시_호텔_이미지.jpg');}
#hotel_image03{background-image:url('../img/임시_호텔_이미지.jpg');}
#hotel_image04{background-image:url('../img/임시_호텔_이미지.jpg');}

/*개별 사진 영역 끝*/


/*요소의 사진*/
.tour_item_image {
    height: 60%;
    /*배경이미지를 요소 크기에 맞게 딱 조절해주는 css 속성 3총사*/
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

/*요소의 설명*/
.tour_item_desc {
    height: 40%;
    padding: 10px;
}